<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
    <br>  <h2 class="text-center">Gestion de l'Opération Foncière </h2>
    <hr>

    <div class="row justify-content-center">
        <aside class="col-sm-4">
            
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title text-center mb-4 mt-1">Se connecter</h4>
                    <hr>
                    <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input name="email" class="form-control" placeholder="Email or login" type="email">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input class="form-control" placeholder="******" type="password" name="password">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Connexion  </button>
                        </div> <!-- form-group// -->
                        
                    </form>
                </article>
            </div> <!-- card.// -->

        </aside> <!-- col.// -->
    </div> <!-- row.// -->

</div> 
    <!--container end.//-->

<br><br><br>
<article class="bg-secondary mb-3">  
    <div class="card-body text-center">
        <h4 class="text-white">LA SOCIETE TUNISIENNE DE L'ELECTRICITE ET DU GAZ <br> Direction Centrale de Production et du Transport Gaz </h4>
        <p class="h5 text-white"> Siège Social: 38, Rue Kamel Ataturk, BP.190-1080 Tunis CEDEX  
        and product landing pages</p>   <br>
        <p><a class="btn btn-warning" target="_blank" href="http://wwww.steg.com.tn/"> Site Web : Steg.com.tn  
        <i class="fa fa-window-restore "></i></a></p>
    </div>
    <br><br><br>
</article>
