{% extends "base.html.twig" %}
{% block title %}Responsable Opération Foncière{% endblock %}
{% block body %}

        <table class="table table-hover">
          <thead>
            <tr class="table-warning">
              <th scope="col">Type</th>
              <th scope="col">Column heading</th>
              <th scope="col">Column heading</th>
              <th scope="col">Column heading</th>
              <th scope="col">Column heading</th>
              <th><button type="button" class="btn btn-success">Ajouter un Proprietaire</button></th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-light">
              <th scope="row">Active</th>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
             
              <td><button type="button" class="btn btn-info">Consulter</button>
                  <button type="button" class="btn btn-success">Demander un Ordre</button>
                  <button type="button" class="btn btn-danger">Annuler</button></td>
            </tr>
            <tr class="table-dark">
              <th scope="row">Default</th>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
              
             <td><button type="button" class="btn btn-info">Consulter</button>
                  <button type="button" class="btn btn-success">Demander un Ordre</button>
                  <button type="button" class="btn btn-danger">Annuler</button></td>
            </tr>
            <tr class="table-light">
              <th scope="row">Primary</th>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
             
              <td><button type="button" class="btn btn-info">Consulter</button>
                  <button type="button" class="btn btn-success">Demander un Ordre</button>
                  <button type="button" class="btn btn-danger">Annuler</button></td>
            </tr>
            <tr class="table-dark">
              <th scope="row">Secondary</th>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
        
              <td><button type="button" class="btn btn-info">Consulter</button>
                  <button type="button" class="btn btn-success">Demander un Ordre</button>
                  <button type="button" class="btn btn-danger">Annuler</button></td>
            </tr>
            <tr class="table-light">
              <th scope="row">Success</th>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
              <td><button type="button" class="btn btn-info">Consulter</button>
                  <button type="button" class="btn btn-success">Demander un Ordre</button>
                  <button type="button" class="btn btn-danger">Annuler</button></td>
            </tr>
            <tr class="table-dark">
              <th scope="row">Danger</th>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
              <td><button type="button" class="btn btn-info">Consulter</button>
                  <button type="button" class="btn btn-success">Demander un Ordre</button>
                  <button type="button" class="btn btn-danger">Annuler</button></td>
            </tr>
            <tr class="table-light">
              <th scope="row">Warning</th>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
              <td><button type="button" class="btn btn-info">Consulter</button>
                  <button type="button" class="btn btn-success">Demander un Ordre</button>
                  <button type="button" class="btn btn-danger">Annuler</button></td>
            </tr>
          </tbody>
        </table> 
            <div>
              <ul class="pagination">
                <li class="page-item disabled">
                  <a class="page-link" href="#">&laquo;</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">&raquo;</a>
                </li>
              </ul>
            </div>
      
      
      

{% endblock %}